body{
    font-family: cursive;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.visualize{
    margin: 5px auto;
    box-shadow: #000000 0px 1px 4px;
    height: 420px;
    width: 1000px;
    max-height: 731px;
}

.array{
    display: flex;
    align-items: flex-start;
    min-height: 100%;
    height: 100%;
    padding: 1rem;
    flex-direction: row;
}